@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes RotateTitle {
  from {
    color: yellow;
    /* transform: rotateX(0deg); */
  }
  to {
    color: red;
    /* transform: rotateX(360deg); */
  }
}

.img-fluid {
  animation: Rotate 5s infinite linear;
  max-width: 30px;
  border: solid;
  border-radius: 100%;
}

.jumbotron {
  background: transparent;
}

.list-group {
  /* list-style-image: url("./imgs/logo192.png"); */
  list-style-position: outside;
  list-style-type: upper-alpha;
}